<%= form_for(@trrisk) do |f| %>
  <% if @trrisk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trrisk.errors.count, "error") %> prohibited this trrisk from being saved:</h2>

      <ul>
      <% @trrisk.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
  <div class="field">
    <%= f.label "Test Run Risk" %><br>
    <%= f.text_field :trriskname %>
  </div>
  <div class="actions">
    <%= f.submit("Create", :class => "btn btn-primary") %>
  </div>
<% end %>
</div>



