<%= form_for(@requirement) do |f| %>
  <% if @requirement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@requirement.errors.count, "error") %> prohibited this requirement from being saved:</h2>

      <ul>
      <% @requirement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="container">

    <div class="field">
      <%= f.label "Title" %><br>
      <%= f.text_field :reqtitle %>
    </div>
    <div class="field">
      <%= f.label "Owner" %><br>
      <%#= f.text_field :reqowner %>
      <%= f.collection_select(:reqowner, User.all, :username, :username, prompt: "Select an Owner") %>
    </div>
    <div class="field">
      <%= f.label "Status" %><br>
      <%#= f.text_field :reqstatus %>
      <%= f.collection_select(:reqstatus, Reqstatus.all, :reqstatusname, :reqstatusname, prompt: "Select a Status") %>
    </div>
    <div class="field">
      <%= f.label "Priority" %><br>
      <%#= f.text_field :reqpriority %>
      <%= f.collection_select(:reqpriority, Reqpriority.all, :reqpriorityname, :reqpriorityname, prompt: "Select a Priority") %>
    </div>
    <div class="field">
      <%= f.label "Difficulty" %><br>
      <%#= f.text_field :reqdifficulty %>
      <%= f.collection_select(:reqdifficulty, Reqdifficulty.all, :reqdifficultyname, :reqdifficultyname, prompt: "Select a Difficulty") %>
    </div>
    <div class="field">
      <%= f.label "Dev Status" %><br>
      <%= f.text_field :reqdevstatus %>
    </div>
    <div class="field">
      <%= f.label "Testcoverage" %><br>
      <%= f.text_field :reqtestcoverage %>
    </div>
   <div class="field">
     <%= f.label "Track ID" %><br>
     <%= f.text_field :reqtrackid %>
   </div>
    <div class="field">
      <%= f.label "Release" %><br>
      <%= f.text_field :reqrelease %>
    </div>
    <div class="actions">
      <%= f.submit("Create", :class => "btn btn-primary") %>
    </div>
<% end %>
</div>
