<h1>New User</h1>
<div class="container">

    <%= form_for @user, :as => :user, :url => new_user_path, :method => :put do |f| %>
        <p>
          <%= f.label 'Username:' %><br/>
          <%= f.text_field :username %>
          <%= show_field_error(@user, :username) %>
        </p>
        <p>
          <%= f.label 'Email:' %><br/>
          <%= f.text_field :email %>
          <%= show_field_error(@user, :email) %>
        </p>
        <p>
          <%= f.label 'Password:' %><br/>
          <%= f.password_field :password %>
          <%= show_field_error(@user, :password) %>
        </p>
        <p>
          <%= f.label 'Password Confirmation:' %><br/>
          <%= f.password_field :password_confirmation %>
          <%= show_field_error(@user, :password_confirmation) %>
        </p>
        <p>
          <%= f.label 'Role:' %><br/>
          <%#= f.text_field :roles_mask %>
          <%#= f.collection_select(:roles_mask, Role.all, :name, :name , {prompt: "Select a Role"},{:selected => "User"}) %>
          <%#= show_field_error(@role, :roles_mask) %>
        </p>
        <p>
          <%= f.check_box :remember_me, class: "btn btn-medium btn-primary" %>
          <%= f.label 'remember me' %>
        
        <p>
         <%= recaptcha_tags %>
        </p>
        <p>
          <%= f.submit 'Sign Up', class: "btn btn-medium btn-primary" %>&nbsp;&nbsp;&nbsp;
          <%= f.submit 'Clear Form', class: "btn btn-medium btn-primary", :type => 'reset' %>
        </p>
    <% end %>
  </div>
