<%= form_for(@browser) do |f| %>
  <% if @browser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@browser.errors.count, "error") %> prohibited this browser from being saved:</h2>

      <ul>
      <% @browser.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
  <div class="field">
    <%= f.label :brname %><br>
    <%= f.text_field :brname %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>