<%= form_for(@reqstatus) do |f| %>
  <% if @reqstatus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reqstatus.errors.count, "error") %> prohibited this reqstatus from being saved:</h2>

      <ul>
      <% @reqstatus.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="field">
      <%= f.label "Requirement Status" %><br>
      <%= f.text_field :reqstatusname %>
    </div>
    <div class="center">
      <div class="col-md-3">
        <%#= f.submit %>
        <%= f.submit("Done", :class => "btn btn-small btn-primary")  %> <br>
      </div>
    </div>
  </div>
<% end %>

<div><br/></div>