<%= form_for(@testrun) do |f| %>
  <% if @testrun.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testrun.errors.count, "error") %> prohibited this testrun from being saved:</h2>

      <ul>
      <% @testrun.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">

  <div class="field">
    <%= f.label "Name" %><br>
    <%= f.text_field :trname %>
  </div>
  <div class="field">
    <%= f.label "Description" %><br>
    <%= f.text_area :trdescription %>
  </div>
  <div class="field">
    <%= f.label "Feature" %><br>
    <%= f.text_field :trfeature %>
  </div>
  <div class="field">
    <%= f.label "Tester" %><br>
    <%#= f.text_field :tester %>
    <%= f.collection_select(:tester, User.all, :username, :username, prompt: "Select a Tester") %>
  </div>
  <div class="field">
    <%= f.label "Test Type" %><br>
    <%#= f.text_field :testtype %>
    <%= f.collection_select(:testtype, Testtype.all, :tname, :tname, prompt: "Select a Type") %>
  </div>
  <div class="field">
    <%= f.label "Status" %><br>
    <%#= f.text_field :trstatus %>
    <%= f.collection_select(:trstatus, Trstatus.all, :trstatusname, :trstatusname, prompt: "Select a Status") %>

  </div>
  <div class="field">
    <%= f.label "Priority" %><br>
    <%#= f.text_field :trpriority %>
    <%= f.collection_select(:trpriority, Trpriority.all, :trpriorityname, :trpriorityname, prompt: "Select a Priority") %>
  </div>
  <div class="field">
    <%= f.label "OS" %><br>
    <%#= f.text_field :tros %>
    <%= f.collection_select(:tros, O.all, :osname, :osname, prompt: "Select an OS") %>
  </div>
  <div class="field">
    <%= f.label "Browser" %><br>
    <%#= f.text_field :trbrowser %>
    <%= f.collection_select(:trbrowser, Browser.all, :brname, :brname, prompt: "Select a Browser") %>
  </div>
  <div class="field">
    <%= f.label "Risk" %><br>
    <%#= f.text_field :trrisk %>
    <%= f.collection_select(:trrisk, Trrisk.all, :trriskname, :trriskname, prompt: "Select a Risk") %>
  </div>
  <div class="field">
    <%= f.label "Start" %><br>
    <%= f.time_select :trstart %>
  </div>

  <div class="field">
    <%= f.label "Stop" %><br>
    <%= f.time_select :trstop %>
  </div>

   <div class="field">
     <%= f.label "Executed Date" %><br>
     <%= f.datetime_select :trexecdate %>
   </div>
  <div class="field">
    <%= f.label "Requirement" %><br>
    <%= f.text_field :trrequirement %>
  </div>
  <div class="field">
    <%= f.label "Track ID" %><br>
    <%= f.text_field :trtrackid %>
  </div>
  <div class="field">
    <%= f.label "Test Case" %><br>
    <%= f.text_field :testcase %>
  </div>
  <div class="actions">
    <%= f.submit("Create", :class => "btn btn-primary") %>
  </div>
<% end %>
</div>