<p id="notice"><%= notice %></p>

<p>
  <strong>Trname:</strong>
  <%= @testrun.trname %>
</p>

<p>
  <strong>Trdescription:</strong>
  <%= @testrun.trdescription %>
</p>

<p>
  <strong>Trfeature:</strong>
  <%= @testrun.trfeature %>
</p>

<p>
  <strong>Tester:</strong>
  <%= @testrun.tester %>
</p>

<p>
  <strong>Testtype:</strong>
  <%= @testrun.testtype %>
</p>

<p>
  <strong>Trstatus:</strong>
  <%= @testrun.trstatus %>
</p>

<p>
  <strong>Trpriority:</strong>
  <%= @testrun.trpriority %>
</p>

<p>
  <strong>Tros:</strong>
  <%= @testrun.tros %>
</p>

<p>
  <strong>Trbrowser:</strong>
  <%= @testrun.trbrowser %>
</p>

<p>
  <strong>Trrisk:</strong>
  <%= @testrun.trrisk %>
</p>

<p>
  <strong>Trstart:</strong>
  <%= @testrun.trstart %>
</p>

<p>
  <strong>Trexecdate:</strong>
  <%= @testrun.trexecdate %>
</p>

<p>
  <strong>Trstop:</strong>
  <%= @testrun.trstop %>
</p>

<p>
  <strong>Trrequirement:</strong>
  <%= @testrun.trrequirement %>
</p>

<p>
  <strong>Trtrackid:</strong>
  <%= @testrun.trtrackid %>
</p>

<p>
  <strong>Testcase:</strong>
  <%= @testrun.testcase %>
</p>

<%= link_to 'Edit', edit_testrun_path(@testrun) %> |
<%= link_to 'Back', testruns_path %>
