<h1>Listing Requirement Priorities</h1>

<table class="table3">
  <thead>
    <tr>
      <th>Requirement Priority Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reqpriorities.each do |reqpriority| %>
      <tr>
        <td><%= reqpriority.reqpriorityname %></td>
        <td><%= link_to 'Show', reqpriority %></td>
        <td><%= link_to 'Edit', edit_reqpriority_path(reqpriority) %></td>
        <td><%= link_to 'Destroy', reqpriority, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Requirement Priority', new_reqpriority_path %>
